//
// Global
//

body {
    padding-top: $navbar-base-height;
    background-color: #26264e !important;
    color: #fff !important;
    font-family: "Montserrat", sans-serif !important;
}

@include media-breakpoint-up(lg) {
    body {
        padding-top: 0;
        padding-left: $sidebar-base-width;
    }
}
a,
h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    color: #fff !important;
    font-family: "Montserrat", sans-serif !important;
}
.text-primary {
    color: #61dafb !important;
}

h1 {
    line-height: 1;
}

p.lead {
    font-size: 1.15rem;
    font-weight: 600;
}
p.bold {
    font-size: 1rem;
    font-weight: 600;
}
.bold {
    font-size: 1.1rem;
    font-weight: 600;
}
span.bold {
    font-size: 1.3rem;
    font-weight: 600;
}
.html {
    color: #e54d26;
}
.css {
    color: #3d8fc6;
}
.javascipts {
    color: #f0db4f;
}
.reactjs {
    color: #61dafb;
}
.nodejs {
    color: #83cd29;
}
.sass {
    color: rgb(185, 33, 150);
}
.github {
    color: #181616;
}
.mysql {
    color: #00618a;
}
.tailwind {
    color: #2298bd;
}
.subheading {
    font-family: "Montserrat", sans-serif !important;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.2rem;
}
@media (min-width: 330px) {
    h3 {
        font-size: 1rem !important;
        color: rgb(124 58 237) !important;
    }
    .subheading {
        font-size: 0.9rem !important;
        margin-top: 10px;
        font-weight: 600 !important;
        color: #61dafb;
    }
    span.bold {
        font-size: 1rem;
        font-weight: 600;
        color: #83cd29;
    }
    p.bold {
        font-size: 0.8rem;
        font-weight: 600;
    }
    p.lead {
        color: #83cd29;
    }
}
@media (min-width: 820px) {
    h3 {
        font-size: 1.4rem !important;
    }
    .subheading {
        font-size: 1.2rem !important;
        margin-top: 10px;
        font-weight: 600 !important;
        color: #61dafb;
    }
    span.bold {
        font-size: 1.1rem;
        font-weight: 600;
        color: #83cd29;
    }
    p.bold {
        font-size: 1rem;
        font-weight: 600;
    }
    p.lead {
        color: #83cd29;
    }
}
@media (min-width: 1440px) {
    h3 {
        font-size: 1.6rem !important;
        color: rgb(124 58 237) !important;
    }
    .subheading {
        font-size: 1.2rem !important;
        margin-top: 15px;
        font-weight: 600 !important;
        color: #61dafb;
    }
    span.bold {
        font-size: 1.1rem;
        font-weight: 600;
        color: #83cd29;
    }
    p.bold {
        font-size: 1rem;
        font-weight: 600;
    }
    p.lead {
        color: #83cd29;
    }
}
