//
// Colors
//

// Pre-state grayscale colors used in other variables

$gray-800: #26264e;

// Override Bootstrap color system

$orange: #1d1d42;

// Override Bootstrap default state colors

$primary: $orange;
